$bg-color: #fff;
$shadow-color: #E1E1E1;
$text-color: #505050;
$link-color: #235594;
$name-color: #8C223E;
$title-color: #000;
$grey-color: #666;
$dGrey-color: #333;
$red-color: #BF3029;
$sRow-color: #F2F2F2;

$board-text: #65605C;
$board-bg: #F2F2F2;
$board-border: #E0E0E0;
$board-icons: #65605C;
$board-split: #F2F2F2;

$code-font: 'IBM Plex Mono', monospace;