@import "vars";

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $link-color;
}
.title {
    color: $title-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.appSide {
    padding: 32px 18px 32px 18px;
    background-color: $bg-color;
    width: 100%;
    flex-basis: 60px;
    text-align: center;
    &-list {
        list-style: none;
        margin: 0;
        padding: 0;
        &__item {
            width: 24px;
            height: 24px;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 32px;
            }
        }
    }
}

.navSide {
    background-color: $bg-color;
    color: $grey-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    flex-basis: 256px;
    min-width: 256px;
    width: 100%;
    padding: 26px 16px 26px 16px;

    display: flex;
    flex-direction: column;
    &-caption {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        .title {
            margin-top: -2px;
            margin-left: 8px;
        }
        &__btn {
            margin-top: 2px;
            margin-right: 8px;
        }
    }
    &-list {
        list-style: none;
        margin: 0;
        padding: 0;
        &__item {
            display: flex;
            align-items: center;
            padding: 8px;
            width: 224px;
            height: 34px;
            border-radius: 4px;
            margin-bottom: 4px;
            position: relative;
            &>a { color: $grey-color; }
            &.nsActive {
                background-color: $sRow-color;
                font-weight: 700;
                &>a { color: $dGrey-color; }
            }
            .counter {
                position: absolute;
                top: 9px;
                right: 8px;
            }
        }
    }
    &-btn {
        width: 16px;
        height: 16px;
        margin: 0 auto;
    }
}
.counter {
    display: inline-block;
    color: $bg-color;
    background-color: $link-color;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;

    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
}

.mainArea {
    background-color: $bg-color;
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    &-caption {
        height: 72px;
        padding: 24px 32px;
        border-bottom: 1px solid $shadow-color;
        position: relative;
        display: flex;
        justify-content: space-between;
        &__members {
            display: flex;
            align-items: center;
            &-btn {
                margin-left: 6px;
            }
            &-counter {
                font-family: 'Inter', sans-serif;
                border: 2px solid $bg-color;
                height: 20px;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 12px;
            }
        }
    }
    &-board {
        margin: 32px;
        height: 140px;
        min-height: 140px;
        background-color: $board-bg;
        border: 1px solid $board-border;
        border-radius: 4px;
        &__msgText {
            color: $board-text;
            font-size: 14px;
            margin: 16px 16px 0 16px;
            width: calc(100% - 32px);
            height: 58px;
            resize: none;
            border: none;
            background-color: $board-bg;
            outline: none;
            &::-webkit-scrollbar { width: 3px; height: 3px;}
            &::-webkit-scrollbar-button { display: none; background-color: $grey-color; }
            &::-webkit-scrollbar-track-piece { background-color: $board-icons; }
            &::-webkit-scrollbar-thumb { height: 10px; background-color: $grey-color; border-radius: 2px;}
        }
        &__panel {
            margin: 8px;
            height: 42px;
            display: flex;
            justify-content: space-between;
            &-icons {
                height: 42px;
                display: flex;
                align-items: center;
                padding-left: 8px;
                &-icon {
                    width: 24px;
                    height: 24px;
                    margin: 0 4px;
                }
                &-div {
                    background-color: $board-split;
                    width: 2px;
                    height: 42px;
                    margin: 0 8px;
                }
            }
        }
    }
}

.msgArea {
    padding: 32px;
    height: calc(100vh - 305px);
    margin-bottom: 32px;
    &-messages {
        height: calc(100vh - 305px);
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar { width: 3px; height: 3px;}
        &::-webkit-scrollbar-button { display: none; background-color: $grey-color; }
        &::-webkit-scrollbar-track-piece { background-color: $bg-color;}
        &::-webkit-scrollbar-thumb { height: 10px; background-color: $grey-color; border-radius: 2px;}

        &__msg {
            display: flex;
            &-ava {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    background-color: $shadow-color;
                    width: 1px;
                    height: calc(100% - 42px);
                    left: 17px;
                    bottom: 4px;
                }
            }
            &-block {
                margin-left: 22px;
            }
            &-caption {
                font-weight: 500;
                line-height: 18px;
                color: $name-color;
                &>span {
                    margin-left: 12px;
                    margin-top: 2px;
                    font-size: 11px;
                    line-height: 14px;
                    color: rgba($board-text, 0.5);
                }
            }
            &-text {
                margin-top: 8px;
                margin-bottom: 32px;
                &>pre {
                    font-family: $code-font;
                    color: $link-color;
                }
            }
            &-date {
                display: flex;
                &-div {
                    position: relative;
                    &::after {
                        position: absolute;
                        content: '';
                        background-color: $shadow-color;
                        width: 1px;
                        height: 100%;
                        left: 17px;
                        bottom: 4px;
                    }
                }
                &-text {
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 14px;
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;
                    margin-bottom: 32px;
                }
            }
        }
    }
}

.aSide {
    background-color: $bg-color;
    min-width: 404px;
    width: 100%;
    flex-basis: 404px;
    padding: 24px 32px;

    display: flex;
    flex-direction: column;
    &-caption {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 12px;
        &__btn {
            margin-left: 16px;
            margin-top: 4px;
        }
    }
    &-author {
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        &__name {
            margin-left: 8px;
            line-height: 18px;
            color: $name-color;
            flex-grow: 1;
        }
        &__date {
            font-size: 11px;
            line-height: 14px;
            text-align: right;
            color: rgba($board-text, 0.5);
        }
    }
    &-area {
        width: 344px;
        height: calc(100vh - 170px);
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar { width: 3px; height: 3px;}
        &::-webkit-scrollbar-button { display: none; background-color: $grey-color; }
        &::-webkit-scrollbar-track-piece { background-color: $bg-color;}
        &::-webkit-scrollbar-thumb { height: 10px; background-color: $grey-color; border-radius: 2px;}
    }
    &-image {
        width: 340px;
        border-radius: 4px;
        margin-bottom: 27px;
    }
    &-text {
        width: 340px;
    }
}

.shadowW {
    box-shadow: $shadow-color 1px 0px inset;
}

.avatar {
    border: 1px solid rgba(#32302E, 0.2);
    border-radius: 50%;
    &-32 { width: 34px; height: 34px; }
    &-32nb {
        width: 32px; height: 32px;
        border-radius: 50%;
    }
    &-member {
        border: 2px solid $bg-color;
        border-radius: 50%;
        width: 28px; height: 28px;
        margin-right: -5px;
    }
}